body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  padding: 0;
}
a{
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}
.title{
	font-family: 'Cairo', sans-serif;
}

.main{
background-color:#E8E5E6 ;
}

.header{
	display: flex;
	align-content:center;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.header img{
	width: 100%;
	height:100%;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
	display: flex;
	align-content:center;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 5px;
	padding: 0px 120px;
}
.sticky{
		position: fixed;
		background-color: #32a8dc;
		margin-top: -5px;
		z-index: 1;
	}

.header .logo{	
	max-width: 10%;
	flex:5%;
}
.header .logo img{
	max-width: 60%;
}
 .contact-btn{
	background-color: #32a8dc;
	outline: none;
	color: #fff;
	border: 2px solid #32a8dc;
	padding: 10px 30px;
	font-size: 18px;
	transition: 0.2s color;
}
.learn-btn{
	background-color: #32a8dc;
	outline: none;
	border:none;
	padding: 10px 30px;
	font-size: 18px;
}
.learn-btn:hover{
	background-color: #fff;
	border: 2px solid #32a8dc;
	color: #000;
}
.learn-btn a{
	text-decoration: none;
	color: #fff;
}
 .contact-btn:hover{
	background-color: #32a8dc;
	color:  #fba52a;
	cursor: pointer;
}

.nav{
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex:70%;
}
.contact{
	flex:10%;
	justify-content: center;
}
.nav ul{
	display: flex;
	list-style-type: none;
	justify-content: center;
}
.nav ul li{
	justify-content: space-between;
	margin: 0 10px;
}
.nav li a{
	text-decoration: none;
	color:  #fff;
	font-size: 20px;
	text-transform: uppercase;
}
.nav li a:hover{
	color:  #fba52a;
}

.header-text{
	font-size: 35px;
	position: absolute;
	top: 30%;
	left: 10%;
	text-transform: uppercase;
	color: #fff;
}
.header-text p{
	margin: 0;
}
.header-text p .bold{
	font-weight: bolder;
}


/*ABOUT*/
.about{
	position: relative;
	top: -20%;
}

.about .title{
	margin: 10px;
}
.about-text{
	margin: 0;
	margin-bottom: 5px;
	text-align: center;
	font-size: 25px;
}

/*SERVICE*/
.service{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 10px 100px;
			margin: 0px;
		}
		.hello{
			align-content: center;
			align-items: center;
			justify-content: center;
			margin: auto;
			flex:1.5;
		}
		.hi{
			display: flex;
			flex-wrap: wrap;
			flex:4;
			padding: 5px 30px;
		}
		.hello p{
			font-size: 40px;
		}
		.service-item{
			color: #fff;
			font-size: 25px;
			text-transform: uppercase;
			margin: 2px;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			
		}
		.service-item .service-title{
			margin: 0;
			text-align: center;
		}
		.one{
			background-color: #dd4e3f;
			flex:25%;
		}
		.two{
			background-color: #fba52a;
			flex:25%;
		}
		.three{
			background-color:#49aeb6;
			flex:25%;
		}
		.four{
			background-color: #464155;
			flex:25%;
		}
		.five{
			background-color: #32a8dc;
			flex:25%;
		}
		.six{
			background-color: #AB2F4C;
			flex:25%;
		}
		.icon{
			color: #fff;

		}


.title{
	text-align: center;
	font-size: 40px;
}
.message{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px;
	padding-top: 0;
	margin: 0;
}
.message-container{
	background-color: #f9faf8;
	padding: 20px;
}
.message .message-form{
	flex: 1;
	padding: 40px;
}

.message .message-form .user-input{
	height: 40px;
	width: 100%;
	border:none;
	background-color: inherit;
	border-bottom: 2px solid #32a8dc;
}
.message .message-form .user-message{
	height: 80px;
	width: 100%;
	border:none;
	background-color: inherit;
	border-bottom: 2px solid #32a8dc;
}
.message .message-form input:focus{
	border:none;
	outline: none;
	border-bottom: 2px solid #32a8dc;
}
::placeholder{
	color: #000;
	padding: 5px;
	font-size: 15px;
}
.team{
	flex: 2;
}
.team .team-info{
	background-color: #fff;
	margin: 20px;
	padding: 20px;
	box-shadow: 5px 5px 3px grey;
}

.team-img{
	border-radius: 50%;
	margin: 10px;
}

.footer{
		background-color:#32a8dc; 
		padding: 50px;
}

.footer1{
	display: flex;
	flex-wrap: wrap;
	color: #fff;
}
.footer1 .map{
	padding: 30px;
	flex: 2;
	flex-wrap: wrap;
	order: 3;
}
.footer1 .explore{
	flex: 1;
	flex-wrap: wrap;
	order: 2;
	text-align: center;
}
.footer1 .explore p a{
	text-decoration: none;
	cursor: pointer;
	color: #BDDFF4;
}
.footer1 .explore p a:hover{
	color: #000;
}
.footer1 .location{
	flex: 2;
	flex-wrap: wrap;
	order: 1;
	text-align: left;
}
.footer1 .location p{
	color: #BDDFF4;
}


.footer2 .social{
	display: flex;
	margin: auto;
	flex-wrap: wrap;
	justify-content: center;
}
.fb-icon,.whats-icon,.insta-icon,.viber-icon,.pin-icon,.yt-icon{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	margin: 5px;
}
.fb-icon{
		background-color: #3b5998;
}
.whats-icon{
	background-color: #25D366;
}
.insta-icon{
	background-color: #E1306C;
}
.viber-icon{
	background-color: #665CAC;
}
.pin-icon{
	background-color:#0e76a8;
}
.yt-icon{
	background-color: #FF0000;
}

.footer2  p{
	color: #fff;
	margin: 8px;
}
.outlet-container{
			padding: 30px 50px;
			background-color: #13616D;
			color: #fff;	
		}
		.outlet-item{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		.outlet-item .outlet{
				display: flex;
				width: 40%;
				margin: auto;
				justify-content: space-around;
				flex-wrap: wrap;
		}
		.outlet-image{
			max-width:40%; 
		}
		.outlet-image img{
			max-width: 100%;
		}
		.outlet-text{
			text-align: justify;
			font-size: 18px;
		}

		 .menu-btn{
		 	background-color: #fa9324;
		outline: none;
		border: none;
		padding: 10px 30px;
		font-size: 18px;
		color: #fff;
		transition: 0.2s background-color;
	}
	.menu-btn:hover{
		background-color: #fbbd18;
	}
	.swad{
		background-color:  #9e0505;
	}
	.swad:hover{
		background-color: red;
	}
	.bar{
		display: none;
	}
	.title-btn{
		display: none;
	}
	.direc{
		color: #fff;
	}
	.msg{
		display: none;
	}

@media only screen and (max-width: 700px) {
	.header{
		background-color: #13616D;
		height: 50vh;
	}
	.header img{
		display: none;
	}

	.header .navbar{
		justify-content: flex-start;
		height: auto;
		padding: 0;
		margin: 0;
		margin-top: -5px;
	}

	
	.header .navbar .nav{
		display: none;
	}
	
	.header .navbar .logo{
		max-width: 100%;
	}
	.header .navbar .logo img{
		display: block;
		position: relative;
		left: 10px;
		max-width: 35%;
		padding: 5px;
	}
	.header .navbar .contact .contact-btn{
		display: none;
	}
	.header .navbar .contact  .bar{
		display: flex;
		justify-content: flex-end;
		color: #fff;
		margin-right: 5px;
	}
	.header-text{
		font-size: 20px;
		top: 40%;
	}
	.title-btn{
		display: block;
		margin-top: 10px;
		background-color: #32a8dc;
	}

	/*ABOUT*/
	.about-text{
		font-size: 13px;
	}


	/*SERVICES*/
		.service{
			padding: 2px;
			margin: 2px;
			display: block;
		}
		.service-item{
			flex-direction: row;
		}
		.hello{
			text-align: center;
			margin: 0;
		}
		.hello p{
			margin: 5px;
			font-size: 25px;
		}
		.hi {
			flex-direction: column;
		}
		.hi p{
			margin: 5px;
		}
		
		.one{
			flex-direction: row;
		}

		

		/*OUTLET*/
			.outlet-container{
				padding: 20px;
			}
			.outlet-item{
				flex-direction: column;
			}
			.outlet-item .outlet{
				width: 100%;
				padding: 10px;
				flex-direction: row;
				justify-content: space-around;
				margin-bottom: 5px;
			}
			.outlet-text{
				text-align: center;
				font-size: 18px;
			}
			.outlet-text p{
				text-align: center;
				margin: 0;
				
			}
			.outlet-image{
				max-width: 40%;
			}
			.direc{
				font-size: 15px;
				font-weight: lighter;
			}
			.hide{
				display: none;
			}
			.menu-btn{
				margin-top: 20px;
				font-size: 18px;
				padding: 5px;
			}
			.menu-btn:hover{
				cursor: pointer;
			}
			/*MESSAGE*/

			
			.message{
				margin: auto;
			}
			 .title{
				margin: 0;
				margin-top:5px;
				font-size: 25px;
				font-weight: bold;
			}
			.team{
				margin: auto;
				order: 1;
			}
			.team .team-info{
				display: block;
				width: 100%;
				margin: auto;
			}
			
			
			.message .message-form{
				width: 100%;
				padding: 0;
				margin-top: 10px;
				order: 2;
			}
			.message .message-form .user-input{
				width: 100%;
			}
			.message-container .title{
				display: none;
			}
			.message-form .msg{
				display: block;
				margin-top: 10px;
			}
			/*FOOTER*/
			.footer{
				padding: 10px;
			}

			.footer1 .map{
				display: none;
			}
			.footer1 .explore{
				display: none;
			}
			

		
}
